In [25]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from prophet.plot import plot_plotly, plot_components_plotly
from prophet import Prophet
from datetime import datetime

In [26]:
!pip install prophet

Requirement already satisfied: prophet in c:\users\geral\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: python-dateutil>=2.8.0 in c:\users\geral\anaconda3\lib\site-packages (from prophet) (2.8.2)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\geral\anaconda3\lib\site-packages (from prophet) (4.64.1)
Requirement already satisfied: pandas>=1.0.4 in c:\users\geral\anaconda3\lib\site-packages (from prophet) (1.4.4)
Requirement already satisfied: cmdstanpy>=1.0.4 in c:\users\geral\anaconda3\lib\site-packages (from prophet) (1.1.0)
Requirement already satisfied: convertdate>=2.1.2 in c:\users\geral\anaconda3\lib\site-packages (from prophet) (2.4.0)
Requirement already satisfied: holidays>=0.14.2 in c:\users\geral\anaconda3\lib\site-packages (from prophet) (0.21.13)
Requirement already satisfied: LunarCalendar>=0.0.9 in c:\users\geral\anaconda3\lib\site-packages (from prophet) (0.0.9)
Requirement already satisfied: numpy>=1.15.4 in c:\users\geral\anaconda3\lib\site-packages (from prophet) (1.21.5)
Requirement already satisfied: matplotlib>=2.0.0 in c:\users\geral\anaconda3\lib\site-packages (from prophet) (3.6.2)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in c:\users\geral\anaconda3\lib\site-packages (from convertdate>=2.1.2->prophet) (0.5.12)
Requirement already satisfied: korean-lunar-calendar in c:\users\geral\anaconda3\lib\site-packages (from holidays>=0.14.2->prophet) (0.3.1)
Requirement already satisfied: tzdata in c:\users\geral\anaconda3\lib\site-packages (from holidays>=0.14.2->prophet) (2023.3)
Requirement already satisfied: hijri-converter in c:\users\geral\anaconda3\lib\site-packages (from holidays>=0.14.2->prophet) (2.2.4)
Requirement already satisfied: pytz in c:\users\geral\anaconda3\lib\site-packages (from LunarCalendar>=0.0.9->prophet) (2022.7)
Requirement already satisfied: ephem>=3.7.5.3 in c:\users\geral\anaconda3\lib\site-packages (from LunarCalendar>=0.0.9->prophet) (4.1.4)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\geral\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\geral\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\users\geral\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\geral\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (9.3.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\geral\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (4.25.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\geral\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.0.5)
Requirement already satisfied: packaging>=20.0 in c:\users\geral\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (22.0)
Requirement already satisfied: six>=1.5 in c:\users\geral\anaconda3\lib\site-packages (from python-dateutil>=2.8.0->prophet) (1.16.0)
Requirement already satisfied: colorama in c:\users\geral\anaconda3\lib\site-packages (from tqdm>=4.36.1->prophet) (0.4.6)

In [27]:
!pip install fbprophet

^C

In [28]:
#read in csv for
all_bdrm = pd.read_csv("housing_prices_data.csv")
all_bdrm.dropna(inplace=True)
all_bdrm.head()

,RegionID,Neighborhood,State,City,Metro,County,2020-01-31,2020-02-29,2020-03-31,2020-04-30,...,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,BedroomCount
0,118208,South Los Angeles,CA,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,350403.0,354217.0,357681.0,360467.0,...,485481.0,486580.0,486336.0,486796.0,486585.0,487578.0,486809.0,489862.0,489152.0,1
1,268496,Southeast Los Angeles,CA,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,312659.0,314476.0,315822.0,317131.0,...,410623.0,413743.0,416449.0,419431.0,420848.0,422551.0,422515.0,427628.0,430679.0,1
2,273565,East San Jose,CA,San Jose,"San Jose-Sunnyvale-Santa Clara, CA",Santa Clara County,394852.0,397467.0,399616.0,400423.0,...,465598.0,465629.0,463605.0,460273.0,456309.0,452782.0,449427.0,451437.0,454010.0,1
3,273088,Bullard,CA,Fresno,"Fresno, CA",Fresno County,99098.0,103441.0,107280.0,111859.0,...,154223.0,156623.0,158448.0,159079.0,159166.0,158239.0,157523.0,162523.0,167592.0,1
4,276652,West San Jose,CA,San Jose,"San Jose-Sunnyvale-Santa Clara, CA",Santa Clara County,488197.0,492374.0,495291.0,494556.0,...,552316.0,550898.0,546854.0,542083.0,538433.0,536506.0,535151.0,551396.0,573673.0,1

In [29]:
#transpose data to
#chose the first row in as a test 
transposed_sla = all_bdrm.loc[all_bdrm.index==0]

In [30]:
transposed_sla = transposed_sla.transpose()
transposed_sla

                                               0
RegionID                                  118208
Neighborhood                   South Los Angeles
State                                         CA
City                                 Los Angeles
Metro         Los Angeles-Long Beach-Anaheim, CA
County                        Los Angeles County
2020-01-31                              350403.0
2020-02-29                              354217.0
2020-03-31                              357681.0
2020-04-30                              360467.0
2020-05-31                              361981.0
2020-06-30                              361653.0
2020-07-31                              362266.0
2020-08-31                              364425.0
2020-09-30                              369158.0
2020-10-31                              374385.0
2020-11-30                              381541.0
2020-12-31                              389419.0
2021-01-31                              394851.0
2021-02-28                              397716.0
2021-03-31                              399178.0
2021-04-30                              402343.0
2021-05-31                              405716.0
2021-06-30                              410241.0
2021-07-31                              422203.0
2021-08-31                              440076.0
2021-09-30                              459411.0
2021-10-31                              474475.0
2021-11-30                              486538.0
2021-12-31                              497638.0
2022-01-31                              501349.0
2022-02-28                              499150.0
2022-03-31                              493038.0
2022-04-30                              488165.0
2022-05-31                              486349.0
2022-06-30                              485481.0
2022-07-31                              486580.0
2022-08-31                              486336.0
2022-09-30                              486796.0
2022-10-31                              486585.0
2022-11-30                              487578.0
2022-12-31                              486809.0
2023-01-31                              489862.0
2023-02-28                              489152.0
BedroomCount                                   1

In [31]:
#drop unneeded columns 
transposed_sla.drop(['RegionID','Neighborhood','State','City','Metro','County','BedroomCount'],axis=0, inplace=True)

In [32]:
transposed_sla['month_date'] = transposed_sla.index
transposed_sla

                   0  month_date
2020-01-31  350403.0  2020-01-31
2020-02-29  354217.0  2020-02-29
2020-03-31  357681.0  2020-03-31
2020-04-30  360467.0  2020-04-30
2020-05-31  361981.0  2020-05-31
2020-06-30  361653.0  2020-06-30
2020-07-31  362266.0  2020-07-31
2020-08-31  364425.0  2020-08-31
2020-09-30  369158.0  2020-09-30
2020-10-31  374385.0  2020-10-31
2020-11-30  381541.0  2020-11-30
2020-12-31  389419.0  2020-12-31
2021-01-31  394851.0  2021-01-31
2021-02-28  397716.0  2021-02-28
2021-03-31  399178.0  2021-03-31
2021-04-30  402343.0  2021-04-30
2021-05-31  405716.0  2021-05-31
2021-06-30  410241.0  2021-06-30
2021-07-31  422203.0  2021-07-31
2021-08-31  440076.0  2021-08-31
2021-09-30  459411.0  2021-09-30
2021-10-31  474475.0  2021-10-31
2021-11-30  486538.0  2021-11-30
2021-12-31  497638.0  2021-12-31
2022-01-31  501349.0  2022-01-31
2022-02-28  499150.0  2022-02-28
2022-03-31  493038.0  2022-03-31
2022-04-30  488165.0  2022-04-30
2022-05-31  486349.0  2022-05-31
2022-06-30  485481.0  2022-06-30
2022-07-31  486580.0  2022-07-31
2022-08-31  486336.0  2022-08-31
2022-09-30  486796.0  2022-09-30
2022-10-31  486585.0  2022-10-31
2022-11-30  487578.0  2022-11-30
2022-12-31  486809.0  2022-12-31
2023-01-31  489862.0  2023-01-31
2023-02-28  489152.0  2023-02-28

In [33]:
#changing the month_date column to datetime data type
transposed_sla['month_date'] = pd.to_datetime(transposed_sla['month_date'], format="%Y-%m-%d")
transposed_sla.head()

                   0 month_date
2020-01-31  350403.0 2020-01-31
2020-02-29  354217.0 2020-02-29
2020-03-31  357681.0 2020-03-31
2020-04-30  360467.0 2020-04-30
2020-05-31  361981.0 2020-05-31

In [34]:
transposed_sla

                   0 month_date
2020-01-31  350403.0 2020-01-31
2020-02-29  354217.0 2020-02-29
2020-03-31  357681.0 2020-03-31
2020-04-30  360467.0 2020-04-30
2020-05-31  361981.0 2020-05-31
2020-06-30  361653.0 2020-06-30
2020-07-31  362266.0 2020-07-31
2020-08-31  364425.0 2020-08-31
2020-09-30  369158.0 2020-09-30
2020-10-31  374385.0 2020-10-31
2020-11-30  381541.0 2020-11-30
2020-12-31  389419.0 2020-12-31
2021-01-31  394851.0 2021-01-31
2021-02-28  397716.0 2021-02-28
2021-03-31  399178.0 2021-03-31
2021-04-30  402343.0 2021-04-30
2021-05-31  405716.0 2021-05-31
2021-06-30  410241.0 2021-06-30
2021-07-31  422203.0 2021-07-31
2021-08-31  440076.0 2021-08-31
2021-09-30  459411.0 2021-09-30
2021-10-31  474475.0 2021-10-31
2021-11-30  486538.0 2021-11-30
2021-12-31  497638.0 2021-12-31
2022-01-31  501349.0 2022-01-31
2022-02-28  499150.0 2022-02-28
2022-03-31  493038.0 2022-03-31
2022-04-30  488165.0 2022-04-30
2022-05-31  486349.0 2022-05-31
2022-06-30  485481.0 2022-06-30
2022-07-31  486580.0 2022-07-31
2022-08-31  486336.0 2022-08-31
2022-09-30  486796.0 2022-09-30
2022-10-31  486585.0 2022-10-31
2022-11-30  487578.0 2022-11-30
2022-12-31  486809.0 2022-12-31
2023-01-31  489862.0 2023-01-31
2023-02-28  489152.0 2023-02-28

In [35]:
#split data into train and test 
train = transposed_sla.iloc[:len(transposed_sla)-24]
test = transposed_sla.iloc[len(transposed_sla)-24:]

In [36]:
type(train)

pandas.core.frame.DataFrame

In [37]:
train.head()

                   0 month_date
2020-01-31  350403.0 2020-01-31
2020-02-29  354217.0 2020-02-29
2020-03-31  357681.0 2020-03-31
2020-04-30  360467.0 2020-04-30
2020-05-31  361981.0 2020-05-31

In [ ]:
#train model
# no need to scale data since we are looking at one feeature which is price

In [42]:
train = train.rename(columns={0 : 'y', 'month_date' : 'ds'})

In [43]:
model = Prophet()
model

In [44]:
model.fit(train)

20:06:34 - cmdstanpy - INFO - Chain [1] start processing
20:06:34 - cmdstanpy - INFO - Chain [1] done processing